tags-input[
  ng-model='selectedSkills'
  display-property='name'
  key-property='id'
  on-tag-added="createSkill($tag)"
  placeholder='Введите умения'
  replace-spaces-with-dashes='false'
  add-on-enter='false'
  min-length='1'
]
  auto-complete(
    source='findSkills($query)'
    load-on-down-arrow='true'
    min-length='1'
  )
